In [2]:
# mengimport library pandas
import pandas as pd

# import zipfile library
import zipfile

# import kaggle library
import kaggle

In [4]:
# mendownload dataset dari kaggle menggunakan kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Downloading london-bike-sharing-dataset.zip to d:\Data Analysis\VSCode\Latihan\vscode

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 309kB/s]
100%|██████████| 165k/165k [00:00<00:00, 298kB/s]

In [5]:
# meng-ekstarct file zip yang telah di download
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [3]:
# membaca file csv kedalam pandas dataframe
bikes = pd.read_csv("london_merged.csv")

In [4]:
# explore data / melihat susunan data yang ada di tabel
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
# untuk melihat berapanyak column dan row yang ada (colimn, row)
bikes.shape

(17414, 10)

In [6]:
# untuk melihat gambaran isi dari tabel yang digunakan
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [7]:
# value_count() = digunakan untuk melihat berapa banyak nilai dari value yang sama (value, Jumlah Value)
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [8]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [9]:
# membuat lebih spesifik nama dari column yang ingin di gunakan
new_cols_dic ={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# mengubah nama column menjadi lebih spesifik
# axis = 1 (1 digunakan untuk mengubah jajaran column, 0 digunakan mengubah baris dan merupakan default)
bikes.rename(new_cols_dic, axis=1, inplace=True)

In [10]:
# mengubah the humidity values to persentage (i.e. a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [11]:
# membuat dictionary untuk values column 'season' menjadi values yang sebenarnya
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autum',
    '3.0':'winter'
}

# hal yang sama untuk values pada column 'weather'
weather_dict = {
    '1.0':'clear',
    '2.0':'scattered clouds',
    '3.0':'broken clouds',
    '4.0':'cloudy',
    '10.0':'rain with thunderstorm',
    '26.0':'snowfall'
}

# ubah datatype season tersebut menjadi string
bikes.season = bikes.season.astype('str')
# ubah values season menjadi dictionary yang sudah di tulis diatas
bikes.season = bikes.season.map(season_dict)

#lakukan hal yang sama dengan perubahan kedua diatas
bikes.weather = bikes.weather.astype('str')
bikes.weather = bikes.weather.map(weather_dict)

In [12]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [15]:
# writing the final dataframe to an excel file that we will use in our tableau visualization. the fill will be the 'london-bike-sharing-dataset.xlsx
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')